.hourglass {
  &.--circle-dots {
    @extend %circle;

    width: 10px;
    height: 10px;
    background-color: $hourglassColor3;

    &:after {
      @extend %circle;

      width: 10px;
      height: 10px;
      margin-left: 14px;
      background-color: $hourglassColor1;
      animation-name: loaderMarginsAfter;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }

    &:before {
      @extend %circle;

      width: 10px;
      height: 10px;
      margin-left: -14px;
      background-color: $hourglassColor2;
      animation-name: loaderMarginsBefore;
      animation-duration: 0.8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }
  }
}
