.square-spin{
  animation-name: loaderRotate;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  &:before{
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: loaderSize, loaderColor;
  }
}
