.hourglass {
  &.--square-turning {
    background-color: $hourglassColor1;
    animation-name: loaderRotateFluid, loader3d, loaderColorSoft;
    animation-duration: 1s, 2s, 4s;
    animation-iteration-count: infinite;
  }
}
