@import '~normalize.css/normalize.css';
@import "~flexboxgrid/css/flexboxgrid.css";
@import url('https://fonts.googleapis.com/css?family=Headland+One|Open+Sans');
@import 'scss/hourglass';

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: $white;
  color: $color1;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Headland One', serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s;
  &:hover{
    color: $color3;
  }
}

.wrapper{
  max-width: 1280px;
  padding: 16px;
}

.head{
  text-align: center;
  margin: 40px 0;
}

.hero-title{
  font-family: 'Headland One', serif;
  font-size: 4rem;
}

.example{
  margin-bottom: 14px;
  .box{
    background-color: #f2f2f2;
    padding: 10px 20px 40px 20px;
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
  }
  .example--subtitle{
    &:before{
      content: '';
      width: 10px;
      height: 0;
      display: inline-block;
      border-bottom: 2px solid $color1;
      margin-right: 10px;
    }
  }
}

.footer{
  background-color: $color1;
  padding: 14px 0;
  text-align: center;
  color: $color5;
  font-size: 12px;
  margin-top: 60px;
}
