@import 'vendors/normalize';
@import "vendors/flexboxgrid";
@import url('https://fonts.googleapis.com/css?family=Headland+One|Open+Sans');
@import '../../scss/hourglass-theme';

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: $white;
  color: $color1;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Headland One', serif;
}

.wrapper{
  max-width: 1280px;
}

.hero-title{
  font-family: 'Headland One', serif;
  font-size: 4rem;
}

.example{
  background-color: #f2f2f2;
  padding-bottom: 40px;
  .example--subtitle{
    &:before{
      content: '';
      width: 40px;
      height: 0;
      display: inline-block;
      border-bottom: 2px dotted $color1;
      margin-right: 10px;
    }
  }
}
